<!DOCTYPE html>
<html>
<head>
    <title>Recipe Book</title>
    <header>
        <h2>Recipe Book</h2>
    </header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <img src="{{ url_for('static', filename='images/pic01.jpg') }}" width="300" height="80">
    <br>
    <font size="1">Photo by Peter Dawn on Unsplash</font>
<hr>
</head>
<main>
    {% block content %}
    <div>
        <a href="{{ url_for('home') }}" class="button">Login</a>           
        <a href="{{ url_for('home') }}" class="button">Register</a>
    </div>
    {% endblock content %}
</main>
</body>
</html>
    
