{% extends 'index.html' %}

{% block content %}
 
 <h3>Rate Recipe {{ recipe.title }}</h3>
  <form method="POST" action="{{ url_for('rate_recipe', recipe_id=recipe_id) }}">
    <div>
      <label for="give_rating">Rating</label>
      <input type="number" name="give_rating" step="1" min="0" max="10" value="0" required>
    </div>
  <br>
    <div>   
      <input type="submit" class="button" value="Rate">
      <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="button">Recipe</a>
    </div>
  </form>

{% endblock content %}
