{% extends 'index.html' %}

{% block content %}

<h3>Description {{ recipe.title }}</h3>
<p> {{ recipe.description }} </p>
<p> Cooking time {{ recipe.cooking_time }} minutes </p>
<p> Average rating {{ recipe.avg_ratings }} </p>

<div>
  <a href="{{ url_for('add_ingredient', recipe_id=recipe.id) }}" class="button">Ingredients</a>
  <a href="{{ url_for('add_instruction', recipe_id=recipe.id) }}" class="button">Instructions<a>  
  <a href="{{ url_for('rate_recipe', recipe_id=recipe.id) }}" class="button">Rate Recipe</a> 
<br>
<br>
  <form action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" method="POST">
     <button type="submit" class="button">Delete Recipe</button>
  </form>
<br>        
    <a href="{{ url_for('all_recipes') }}" class="button">View all Recipes</a>
    <a href="{{ url_for('home') }}" class="button">Main</a>
    <a href="{{ url_for('logout') }}" class="button">Logout</a>  
</div>

{% endblock content %}
